
body{
    display: flex;
}

#sidebar{
    background-image: url(spicyChicken.jpg);
    height: 100vh;
    width: 50vw;
    top: 0;
}

#logo{
    text-align: center;
    margin-top: calc(100vh/4);
    font-size: 2rem;
}

#right{
    display: flex;
    flex-wrap: wrap;
}

#text{
    flex-basis: 100%;
    
    font-size: 2rem;
}